*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: gray;
}
.start_btn,
.Rules_box,
.quiz_box,
.score_box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*start Button Styling */
.start_btn button{
    font-size: 35px;
    font-weight: 500;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.Rules_box{
    width: 300px;
    background: ghostwhite;
    border-radius: 5px;
}
.Rules_box .Rules_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid ghostwhite;
    display: flex;
    align-items: center;
    padding: 25px 35px;
    font-size: 20px;
    font-weight: 600;
}
.Rules_box .Rule_list{
    padding: 15px 35px;
}
.Rules_box .Rule_list .Rule{
    margin: 5px 0;
    font-size: 17px;
}
.Rules_box .Rule_list .Rule span{
    font-weight: 600;
    color: #007bff;
}
.Rules_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}
.Rules_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.Rules_box{
    display: none;
    width: 540px;
    background: #fff;
    border-radius: 5px;
}
.buttons button.Restart{
    color: #fff;
    border-color: #007bff;
}
.buttons button.Restart:hover{
    background: #0263ca;
}    
.buttons button.Quit{
    color: #007bff;
}
.buttons button.Quit:hover{
    background: #0263ca;
} 
.quiz_box{
    display: none;
    width: 550px;
    background: #fff;
    border-radius: 5px;
}
.quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 40px 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}
.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}
.quiz_box header .timer .time_text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz_box header .timer .time_sec{
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}
.quiz_box .section{
    padding: 25px 30px 20px 30px;
    background:#fff ;
}
.quiz_box .section .que_text{
    font-size: 25px;
    font-weight: 600;
}
.quiz_box .section .option_list{
    padding: 20px 0;
    display: block;
}
section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition:all 0.3s ease;
}
section .option_list .option:hover{
    color: #343a40;
    background: #cce5ff;
    border-color: #b8daff;
}
.option_list .option:last-child{
    margin-bottom: 0px;
}
.option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}


/* footer */

.quiz_box footer{
    height: 80px;
    width: 100%;
    padding: 75px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quiz_box footer .total_question span{
    display: flex;
    user-select: none;
}
footer .total_question span p{
    font-weight: 500;
    padding: 0 5px;
}
footer .total_question span p:first-child{
    padding-left: 0px;

}
footer .next_btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: black;
    background:aliceblue;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
}
footer .next_btn:hover{
    background: #343a40;
}
.score_box{
    background: #fff;
    width: 350px;
    padding: 50px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.buttons button.quit{
    color: ghostwhite;
}